*.log

# Local app data persistence
mysql/data/*
mysql/logs/*
!mysql/data/.gitkeep
!mysql/logs/.gitkeep

rabbitmq/data/*
rabbitmq/logs/*
!rabbitmq/data/.gitkeep
!rabbitmq/logs/.gitkeep

elasticsearch/data/*
elasticsearch/logs/*
!elasticsearch/data/.gitkeep
!elasticsearch/logs/.gitkeep

redis/data/*
!redis/data/.gitkeep
